body {
    background-color: #fff;
    font-family: $font-family;
}

* {
    box-sizing: border-box;
}

main {
    overflow: auto;
    padding: 30px 0 20px;
}

.btn {
    display: inline-block;
    color: #000;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 4px;
    border: 0;
    background: transparent;
    min-width: 100px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn + .btn {
    margin-left: 15px;
}

.btn-primary {
    background: #6e7bed;
    color: #fff;

    &:hover {
        background-color: #636fda;
    }
}

.btn-danger {
    background: #f36c75;
    color: #fff;

    &:hover {
        background-color: #e34e58;
    }
}
