
.dots {
    display: inline-block;
}    

.loading {
    font-size: 14px;
    letter-spacing: 0.2em;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .dots {
        font-size: 18px;
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        &:nth-child(2) {
            animation-delay: .2s;
        }

        &:nth-child(3) {
            animation-delay: .4s;
        }
    }
}

.form-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    height: 3px;
    z-index: 100;
    transition: 0s;

    &.sending {
        width: 20%;
        background-color: green;
        opacity: 1;
        transition: 0.5s ease;
    }

    &.success,
    &.fail {
        width: 100%;
    }

    &.success {
        background-color: green;
    }

    &.fail {
        background-color: red;
    }
}

@keyframes blink {
    0% {
      opacity: .25;
    }

    25% {
      opacity: 1;
    }

    100% {
      opacity: .25;
    }
}
