
%text {
    line-height: 1.875em;
    font-size: 0.875em;
}

.container {
    width: 900px;
    min-height: 100vh;
    font-size: 14px;
    margin: 0 auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 30px; 
}

.section-title {
    color: #6e7bed;
    margin: 0;
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

.table       { display: table }
.tr, 
.tr-product  { display: table-row }

.thead       { display: table-header-group }
.tbody       { display: table-row-group }
.tfoot       { display: table-footer-group }
.col         { display: table-column }
.colgroup    { display: table-column-group }
.td, .th     { display: table-cell }
.caption     { display: table-caption }

.table {
    .th, .td {
        text-align: left;
        padding: 0 15px;
        border-bottom: 1px solid #ccc;
        padding: 15px;
    }
    .th {
       padding: 20px 15px;
    }

    .tr-product:hover td {
        cursor: pointer;
        background-color: #f8f8f8;
    }
}

.infinite-loader {
    width: 100%;
    & > div {
        width: 100%;
    }
}

.product-description {
    color: #8089f0;
    //font-size: 16px;
    //margin: 0.4em 0 0.2em;
}

.product-ean {
   // font-size: 10px;
}

.price-from {
    //font-size: 12px;
    //text-decoration: line-through;
    //color: #555;
}

.price-to {
    //font-size: 16px;
}

.form {
    padding-top: 20px;
    //width: 600px;
    max-width: 100%;
    overflow: hidden;
}

.form-row {
    display: flex;
    margin: 0 -10px 25px;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.form-control {
    margin: 0 10px;
    flex: 1;
}

.input-text,
.input-number,
.textarea {
    border: 2px solid #ddd;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 100%; 
    max-width: 100%;
    min-width: 0;
    flex: 1;
}

.textarea {
    height: 100px;
}

.button-wrapper {
    margin-top: 20px;
}

.error-message {
    line-height: 1.6em;
    color: $danger;
}

@media all and (min-width: 800px) {
   //
}

@media all and (min-width: 1600px) {
    //
}